<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center">
                    <h1>Signup</h1>
                    <h5>Register Here...!</h5>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="exampleInputName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputMobile" class="form-label">Mobile</label>
                        <input formControlName="mobile" type="number" class="form-control" id="exampleInputMobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <a routerLink="/login">Already Registered? Click to Login...</a>
            </div>
        </div>
    </div>
</div>